
/* For Large screen */

@media all and (max-width: 1560px) and (min-width: 1048px){
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
     background-image: url(./image/sep09.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     color: white;
     font-family: 'Poppins', sans-serif;
     overflow-x: hidden;
}

.pageBreaker{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .pageBreaker > span{
    color: rgb(174, 171, 171);
    font-size: 1.4rem;
    position: relative;
    font-weight: 200;
  }
  .pageBreaker > span::before{
    content: '';
    position: absolute;
    width: 3rem;
    height: 1px;
    background: rgb(203, 200, 200);
    top: 50%;
    left: -4rem; 
  }
  .pageBreaker > span::after{
    content: '';
    position: absolute;
    width: 3rem;
    height: 1px;
    background: rgb(180, 178, 178);
    top: 50%;
    right: -4rem;
  }
main{
    margin-bottom: 7rem;
    /* margin-top: 2.8rem; */
}
/* NAVBAR  */

.nav-bar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 3rem;
    background: #222;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.logo{
    display: flex;
    align-items: center;
    padding: 0 5rem;
    
}
.nav-bar .logo img{
    /* object-fit: contain; */
    height: 3.5rem;
}
.nav-bar > .logo > span {
    text-transform: uppercase;
    color: rgb(192, 190, 190);

}
.nav-links{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: .85rem;
}
.nav-links{
    padding:0 5rem;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: rgb(192, 190, 190);
    font-weight: 600;
    text-transform: uppercase;
}
.nav-links li a:hover{
    color: whitesmoke;
}

/* MAIN - HOME PAGE */

.container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    /* height: 90vh; */
    width: 100vw;
    /* border: 2px solid red; */
    /* margin-top: 4rem; */
    gap: 2rem;
}
/* .container img{
    height: 100%;
    width: 100%;
    object-fit: contain;
} */
 /* .container > h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;

}  */

 /* try */
.container > img{
    /* border: 2px solid blue; */
    object-fit: contain;
    height: 100%;
    width: 100vw;
}
/* banner   */

/* .container span{
  font-size: 1rem;
  text-transform: uppercase;
    margin: 0 auto;
    font-family: 'Nixie One', cursive;
    font-weight: bolder;
    letter-spacing: .3rem;
    position: relative;
} */
/* .container span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 2px;
    width: 1rem;
    background: white;
    margin: 0 -1.8rem;
}
.container span::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    height: 2px;
    width: 1rem;
    background: white;
    margin: 0 -1.5rem;
} */

/* ARTWORKS */
#artworks{
    width: 100vw;
    padding: 0 8rem;
    margin-bottom: 4rem;
}
.artwork-container{
    display: grid;
    justify-items: center;
    gap: 2rem;
    
    justify-content: center;
    position: relative;
    grid-column-gap: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  /* border: 2px solid red; */
}
.innerart1{
    /* position: absolute; */
    width: 366px;
    position: relative;
    cursor: pointer;
    /* border: 2px solid blue; */
  height: 366px;
  object-fit: contain;
}
.art-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    top: 0;
}
.innerart1 > img{
    width: 366px;
    height: 366px;
}
.innerart1:hover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(222, 184, 135, 0.5);
}
.innerart1 > .art-text{
    position: absolute;
    transition: .5s;
    opacity: 0;
}
.innerart1:hover .art-text{
    opacity: 1;
}



/* MUSIC AND MOTION  */
#music{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;

}
#music > h1{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
}
#music > span{
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 200;
    letter-spacing: 0.4rem;
    margin-bottom: 2.5rem;
}
.art-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 3rem; */
    /* gap: 4rem; */
}
.art-container > iframe{
    height: 450px;
    /* width: 1081px; */
}
.art-container > figcaption{
    font-size: .8rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
}
.art-container > .inner-art-frame > .frame1 > iframe,
.art-container > .inner-art-frame > .frame2 > iframe,
.art-container > .inner-art-frame > .frame3 > iframe{
    
    height: 202px;
    /* width: 360px; */
}
.art-container > .inner-art-frame > .frame1 > figcaption,
.art-container > .inner-art-frame > .frame2 > figcaption,
.art-container > .inner-art-frame > .frame3 > figcaption{
    font-size: .8rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 3rem;
}

#music > .art-container > .inner-art-frame {
    display: flex;
    gap: .8rem;
    justify-content: space-between;
}


/* ABOUT */
#about{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    /* align-items: center; */
    padding:0 5rem;
    margin-bottom: 4rem;
    gap: 2rem;
}
#about > .about-text-container > h1{
    font-size: 2rem;
    font-weight: 400;
    margin: 3rem 0;
    position: relative;
}
#about > .about-text-container > h1::before{
    content: '';
    height: 2px;
    width: 6rem;
    position: absolute;
    top: -2.7rem;
    left: 0;
    /* margin-bottom: -4rem; */
    background: rgb(173, 172, 172);

}
.aboutImgContainer > img{
    width: 100%;

}

#about > .about-text-container > p{
    font-size: 0.82rem;
    font-weight: 200;
    /* padding-right: .5rem; */
}

/* CONTACT  */

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100vw; */
    gap: 2rem;
    margin-bottom: 4rem;
    
}
.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    /* height: 63%; */
}
.Contact-imgContainer{
    padding: 5rem 1rem 5rem 5rem;
}
.Contact-imgContainer > img{
    width: 100%;
}
#contact > h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 4rem;
    text-transform: uppercase;
    position: relative;
}
#contact > h1::after{
    content: '';
    bottom: -3rem;
    background: rgb(185, 183, 183);
    left: 46%;
    height: 2px;
    width: 6rem;
    position: absolute;
}
.contact-container > form{
    display: flex;
    flex-direction: column;

    padding: 4.7rem 8rem 4.7rem 1rem;
    outline: none;
}
.contact-container > form > input{
    margin: .5rem;
    padding: .95rem;
}
.contact-container > form > input:nth-child(4){
    padding-bottom:4.5rem;
}
.contact-container > form > button{
    width: 12rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    color: white;
    font-size: 0.75rem;
    background: rgb(2, 156, 252);
    margin-left: 0.45rem;
    margin-top: 1rem;
    border: none;
}
.contact-container > form > input::placeholder{
    text-transform: uppercase;
    font-size: 0.7rem;
    
}


/* FOOTER  */
footer{
    padding: 0 15rem;
    font-size: .8rem;
    font-weight: 200;
}
footer > p,
footer > .sponser{
    text-align: center;
}
.sponser > a> i{
    font-size: 3rem;
    margin: 1.5rem;

}
footer > span{
    text-align: left;
    color: rgb(174, 172, 172);
}
}

@media all and (max-width: 1048px) and (min-width: 640px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        background-image: url(./image/sep09.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
   }
   
.pageBreaker{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .pageBreaker > span{
    color: rgb(174, 171, 171);
    font-size: 1.4rem;
    position: relative;
    font-weight: 200;
  }
  .pageBreaker > span::before{
    content: '';
    position: absolute;
    width: 3rem;
    height: 1px;
    background: rgb(203, 200, 200);
    top: 50%;
    left: -4rem; 
  }
  .pageBreaker > span::after{
    content: '';
    position: absolute;
    width: 3rem;
    height: 1px;
    background: rgb(180, 178, 178);
    top: 50%;
    right: -4rem;
  }
   main{
    
    margin-bottom: 3rem;
}

/* NAVBAR  */

.nav-bar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 3.3rem;
    background: #222;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.logo{
    display: flex;
    align-items: center;
    padding: 0 .25rem;
    
}
.nav-bar .logo img{
    height: 3.5rem;
}
.nav-bar > .logo > span {
    text-transform: uppercase;
    color: rgb(192, 190, 190);
    font-size: .85rem;
}
.nav-links{
    display: none;
}
/* MAIN - HOME PAGE */
.container{
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    width: 100vw;
    gap: 2rem;
}
.container > img{
    /* border: 2px solid blue; */
    object-fit: cover;
}

/* ARTWORKS */
#artworks{
    width: 100vw;
    /* padding: 0 2rem; */
    margin-bottom: 4rem;
    
}
.artwork-container{
    display: grid;
    gap: 1rem;
    width: 100vw;
    /* padding: 0 1rem; */
    justify-content: center;
    /* position: relative; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 2px solid red;
}

.innerart1{
    /* position: absolute; */
    width: 15.5rem;
    position: relative;
    cursor: pointer;
    border: 2px solid blue;
  height: 15.5rem;
  margin: 0 .5rem;
  object-fit: contain;
}
.innerart1 > img{
    width: 15.5rem;
    height: 15.5rem;
}
.art-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    top: 0;
}
.innerart1:hover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(222, 184, 135, 0.5);
}
.innerart1 > .art-text{
    position: absolute;
    transition: .5s;
    opacity: 0;
}
.innerart1:hover .art-text{
    opacity: 1;
}

/* MUSIC AND MOTION  */
#music{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2rem;
}
#music > h1{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
}

#music > span{
    text-transform: uppercase;
    font-size: .8srem;
    font-weight: 200;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
}

.art-container{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.art-container > iframe{
    height: 250px;
    width: 85%;
}
.art-container > figcaption{
    font-size: .8rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
}
.art-container > .inner-art-frame > .frame1 > figcaption,
.art-container > .inner-art-frame > .frame2 > figcaption,
.art-container > .inner-art-frame > .frame3 > figcaption{
    font-size: .8rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 3rem;
}
.art-container > .inner-art-frame > .frame1 > iframe,
.art-container > .inner-art-frame > .frame2 > iframe,
.art-container > .inner-art-frame > .frame3 > iframe{
    /* width: 300px; */
    width: 100%;
    height: 250px;
}
.frame1, .frame2, .frame3{
    width: 87%;
}

#music > .art-container > .inner-art-frame {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/* ABOUT */
#about{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    /* align-items: center; */
    padding:0 4rem;
    margin-bottom: 4rem;
    gap: 2rem;
}
#about > .about-text-container > h1{
    font-size: 2rem;
    font-weight: 400;
    margin: 3rem 0;
    position: relative;
}
#about > .about-text-container > h1::before{
    content: '';
    height: 2px;
    width: 6rem;
    position: absolute;
    top: -1.7rem;
    left: 0;
    /* margin-bottom: -4rem; */
    background: rgb(173, 172, 172);

}
#about > .about-text-container > p{
    font-size: 0.82rem;
    font-weight: 200;
    /* padding-right: .5rem; */
}

.aboutImgContainer > img{
    width: 100%;
}


/* CONTACT  */

#contact{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    justify-content: center;
    /* width: 100vw; */
    gap: 2rem;
    /* height: 70vh; */
    padding:0 4rem;
    margin-bottom: 4rem;
    
}
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Contact-imgContainer > img{
    width: 100%;
}
#contact > h1{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 4rem;
    text-transform: uppercase;
    position: relative;
}
#contact > h1::after{
    content: '';
    bottom: -3rem;
    background: rgb(185, 183, 183);
    left: 40%;
    height: 2px;
    width: 6rem;
    position: absolute;
}
.contact-container > form{
    display: flex;
    flex-direction: column;
    outline: none;
}
.contact-container > form > input{
    margin: .5rem 0;
    padding: .65rem;    
}
.contact-container > form > input:nth-child(4){
    padding-bottom:3.5rem;
}
.contact-container > form > button{
    width: 12rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    color: white;
    font-size: 0.75rem;
    background: rgb(2, 156, 252);
    margin-top: 1rem;
    font-weight: 600;
    border: none;
}
.contact-container > form > input::placeholder{
    text-transform: uppercase;
    font-size: 0.7rem;
    
}

/* FOOTER  */
footer{
    padding: 0 4rem;
    font-size: .8rem;
    margin-bottom: 2rem;
    font-weight: 200;
}
footer > p,
footer > .sponser{
    text-align: center;
}
.sponser > a> i{
    font-size: 3rem;
    margin: 1.5rem;

}
footer > span{
    text-align: left;
    color: rgb(174, 172, 172);
   
}

}




/* For smaller screen  */

@media all and (max-width: 640px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        background-image: url(./image/sep09.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
   }
   
.pageBreaker{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .pageBreaker > span{
    color: rgb(174, 171, 171);
    font-size: 1.4rem;
    position: relative;
    font-weight: 200;
  }
  .pageBreaker > span::before{
    content: '';
    position: absolute;
    width: 3rem;
    height: 1px;
    background: rgb(203, 200, 200);
    top: 50%;
    left: -4rem; 
  }
  .pageBreaker > span::after{
    content: '';
    position: absolute;
    width: 3rem;
    height: 1px;
    background: rgb(180, 178, 178);
    top: 50%;
    right: -4rem;
  }
   main{
    
    margin-bottom: 3rem;
}
/* NAVBAR  */

.nav-bar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 3.3rem;
    background: #222;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.logo{
    display: flex;
    align-items: center;
    padding: 0 .25rem;
    
}
.nav-bar .logo img{
    height: 3.5rem;
}
.nav-bar > .logo > span {
    text-transform: uppercase;
    color: rgb(192, 190, 190);
    font-size: .85rem;
}
.nav-links{
    display: none;
}
/* MAIN - HOME PAGE */
.container{
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    width: 100vw;
    gap: 2rem;
}
.container > img{
    /* border: 2px solid blue; */
    object-fit: cover;
}


/* ARTWORKS */
#artworks{
    width: 100vw;
    /* padding: 0 2rem; */
    margin-bottom: 4rem;
    
}
.artwork-container{
    display: grid;
    gap: 1rem;
    width: 100vw;
    /* padding: 0 1rem; */
    justify-content: center;
    /* position: relative; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 2px solid red;
}
.innerart1{
    /* position: absolute; */
    width: 15.5rem;
    position: relative;
    cursor: pointer;
    border: 2px solid blue;
  height: 15.5rem;
  margin: 0 .5rem;
  object-fit: contain;
}
.innerart1 > img{
    width: 15.5rem;
    height: 15.5rem;
}
.art-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    top: 0;
}
.innerart1:hover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(222, 184, 135, 0.5);
}
.innerart1 > .art-text{
    position: absolute;
    transition: .5s;
    opacity: 0;
}
.innerart1:hover .art-text{
    opacity: 1;
}

/* MUSIC AND MOTION  */
#music{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2rem;
}
#music > h1{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
}

#music > span{
    text-transform: uppercase;
    font-size: .8srem;
    font-weight: 200;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
}
.art-container{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.art-container > figcaption{
    font-size: .8rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
}
.art-container > .inner-art-frame > .frame1 > figcaption,
.art-container > .inner-art-frame > .frame2 > figcaption,
.art-container > .inner-art-frame > .frame3 > figcaption{
    font-size: .8rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 3rem;
}

#music > .art-container > .inner-art-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ABOUT */
#about{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    /* align-items: center; */
    padding:0 1rem;
    margin-bottom: 4rem;
    gap: 2rem;
}
#about > .about-text-container > h1{
    font-size: 2rem;
    font-weight: 400;
    margin: 3rem 0;
    position: relative;
}
#about > .about-text-container > h1::before{
    content: '';
    height: 2px;
    width: 6rem;
    position: absolute;
    top: -1.7rem;
    left: 0;
    /* margin-bottom: -4rem; */
    background: rgb(173, 172, 172);

}
#about > .about-text-container > p{
    font-size: 0.82rem;
    font-weight: 200;
    /* padding-right: .5rem; */
}

.aboutImgContainer > img{
    width: 100%;
}


/* CONTACT  */

#contact{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    justify-content: center;
    /* width: 100vw; */
    gap: 2rem;
    /* height: 70vh; */
    padding:0 1rem;
    margin-bottom: 4rem;
    
}
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Contact-imgContainer > img{
    width: 100%;
}
#contact > h1{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 4rem;
    text-transform: uppercase;
    position: relative;
}
#contact > h1::after{
    content: '';
    bottom: -3rem;
    background: rgb(185, 183, 183);
    left: 40%;
    height: 2px;
    width: 6rem;
    position: absolute;
}
.contact-container > form{
    display: flex;
    flex-direction: column;
    outline: none;
}
.contact-container > form > input{
    margin: .5rem 0;
    padding: .65rem;    
}
.contact-container > form > input:nth-child(4){
    padding-bottom:3.5rem;
}
.contact-container > form > button{
    width: 12rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    color: white;
    font-size: 0.75rem;
    background: rgb(2, 156, 252);
    margin-top: 1rem;
    font-weight: 600;
    border: none;
}
.contact-container > form > input::placeholder{
    text-transform: uppercase;
    font-size: 0.7rem;
    
}

/* FOOTER  */
footer{
    padding: 0 1rem;
    font-size: .8rem;
    margin-bottom: 2rem;
    font-weight: 200;
}
footer > p,
footer > .sponser{
    text-align: center;
}
.sponser > a> i{
    font-size: 3rem;
    margin: 1.5rem;

}
footer > span{
    text-align: left;
    color: rgb(174, 172, 172);
   
}



}

